
*.tiff
*.tif
*.csv
Trained ILASTIK model/Bergles_cell_tracking_ILASTIK_REDO.ilp
*.mat
*.png
*.h5
*.ilp
*.fig
Compare semi auto and Cody counts.pptx
*.pyc
*.index
*.data-00000-of-00001
*.meta
*.npz
*.pkl
1_CNN_training_and_testing_PYTHON/(3) Checkpoints_add_dropout/checkpoint
1_CNN_training_and_testing_PYTHON/(1) Checkpoints/1st_run_with_error_image/checkpoint
1_CNN_training_and_testing_PYTHON/(1) Checkpoints/checkpoint
1_CNN_training_and_testing_PYTHON/Checkpoints_remove_spatial_weighting_at_67000/Attempt_2_good_until_80000/checkpoint
1_CNN_training_and_testing_PYTHON/Checkpoints_remove_spatial_weighting_at_67000/Attempt_1_continued_halfwat/checkpoint
1_CNN_training_and_testing_PYTHON/Checkpoints_remove_spatial_weighting_at_67000/checkpoint
*.npy
*.blp
Train_tracking_data/Train_tracking_data_analytic_results_2/input_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results/truth_im/meta/storage
Train_tracking_data/Train_tracking_data_analytic_results_2/input_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results/input_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results/input_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results/input_im/meta/storage
Train_tracking_data/Train_tracking_data_analytic_results/truth_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results/truth_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results_2/input_im/meta/storage
Train_tracking_data/Train_tracking_data_analytic_results_2/truth_im/__attrs__
Train_tracking_data/Train_tracking_data_analytic_results_2/truth_im/meta/sizes
Train_tracking_data/Train_tracking_data_analytic_results_2/truth_im/meta/storage
